/* Guiding Index for Style
 * =======================
 *
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. Id, classes
 * 4. Pseudo classes
 * 5. Media queries
 */

/* Imports */


/* Elements */

html {
        background-color: #F6F4EC;
}

body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,"Open Sans";
		font-size: 14px;
		line-height: 20px;
		color: #333;
        background: -webkit-linear-gradient(#D7D3C8, #F6F4EC);
        background: -o-linear-gradient(#D7D3C8, #F6F4EC);
        background: -moz-linear-gradient(#D7D3C8, #F6F4EC);
        background: linear-gradient(#D7D3C8, #F6F4EC);
        margin: 0;
        overflow-x: hidden;
}

#hashTag {
    display: block;
    width: calc(100% - 60px);
    margin: 20px;
    padding: 10px;
    border: 0px none;
    text-align: center;
}

.tweetsHolder{
	margin: 0 auto;
	width: 70%;
}

.tweet {
    background: #fff;
    padding: 10px;
    margin: 20px;
    box-shadow: 4px 4px 3px #ccc;
}

.tweetImg {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 5px 5px 0;
    margin: 5px;
}

.tweetText{
	display: inline-block;
	width: calc(100% - 80px);
}
.tweetText h3{
	margin: 3px 0;
}
.tweetText a{
	color: #008EAC;
	text-decoration: none;
}
.tweetText p{
	margin: 0
}
#waiting, .logo{
	text-align: center;
}

#loadMore {
	box-shadow: 4px 4px 3px #ccc;
	cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 100px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}
